In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print('Conexión a BD SQLite satisfactoriamente')
        connection.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(f"Error: '{e}'")

    return connection

In [3]:
bbdd = 'Base_datos_estadisticas_basket.db'
connection = create_connection(bbdd)

Conexión a BD SQLite satisfactoriamente

In [4]:
player_id = int(input('Introduce el ID del jugador: '))
df_player_stats = pd.read_sql_query(f'SELECT * from ESTADISTICAS_PARTIDO_JUGADORES WHERE IDJugador = {player_id}', connection)
df_games_stats = pd.read_sql_query('SELECT * from PARTIDOS', connection)

In [8]:
display(df_player_stats.sample(10))
df_player_stats.info()

,IDPartido,IDJugador,Minutos,Puntos,Tiros 3 intentados,Tiros 3 conseguidos,Tiros 2 intentados,Tiros 2 conseguidos,Tiros libres intentados,Tiros libres conseguidos,Asistencias,Robos,Perdidas,Rebotes ofensivos,Rebotes defensivos,Tapones,Faltas
64,423334,406,32:14,19,2,1,13,7,4,2,10,2,5,3,8,0,6
114,474255,406,33:42,16,0,0,9,7,2,2,7,0,2,1,10,0,4
84,473662,406,26:20,21,2,0,12,8,5,5,4,1,3,4,7,0,4
117,474303,406,37:13,33,3,2,20,13,1,1,5,1,4,4,10,1,4
24,127895,406,38:29,26,4,2,10,7,7,6,8,3,1,4,4,2,5
33,128052,406,37:36,18,2,0,10,7,7,4,6,1,1,0,5,1,2
99,473924,406,36:42,15,5,1,4,2,14,8,7,2,6,2,16,1,4
6,127594,406,35:02,19,3,1,13,8,0,0,7,0,5,1,10,2,6
53,264671,406,29:30,26,3,2,10,8,6,4,14,1,5,0,19,0,2
17,127792,406,37:45,22,1,0,15,8,9,6,6,0,4,1,10,0,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   IDPartido                 129 non-null    int64
 1   IDJugador                 129 non-null    int64
 2   Minutos                   129 non-null    object
 3   Puntos                    129 non-null    int64
 4   Tiros 3 intentados        129 non-null    int64
 5   Tiros 3 conseguidos       129 non-null    int64
 6   Tiros 2 intentados        129 non-null    int64
 7   Tiros 2 conseguidos       129 non-null    int64
 8   Tiros libres intentados   129 non-null    int64
 9   Tiros libres conseguidos  129 non-null    int64
 10  Asistencias               129 non-null    int64
 11  Robos                     129 non-null    int64
 12  Perdidas                  129 non-null    int64
 13  Rebotes ofensivos         129 non-null    int64
 14  Rebotes defensivos        129 non-null    int64
 15  Tapones                   129 non-null    int64
 16  Faltas                    129 non-null    int64
dtypes: int64(16), object(1)
memory usage: 17.3+ KB

In [9]:
display(df_games_stats.sample(10))
df_games_stats.info()

,IDPartido,Fecha,IDEquipo local,Nombre equipo local,Puntos equipo local,IDEquipo visitante,Nombre equipo visitante,Puntos equipo visitante
32,25082,2011-04-26 00:00:00 UTC,14,Los Angeles Lakers,106,19,New Orleans Pelicans,90
107,127765,2021-01-25 00:00:00 UTC,12,Indiana Pacers,129,28,Toronto Raptors,114
131,264315,2021-03-17 00:00:00 UTC,12,Indiana Pacers,115,3,Brooklyn Nets,124
28,25026,2011-02-07 00:00:00 UTC,15,Memphis Grizzlies,84,14,Los Angeles Lakers,93
111,127824,2021-02-02 00:00:00 UTC,12,Indiana Pacers,134,15,Memphis Grizzlies,116
198,474032,2022-01-12 00:00:00 UTC,12,Indiana Pacers,100,2,Boston Celtics,119
69,26290,2011-05-02 00:00:00 UTC,14,Los Angeles Lakers,94,7,Dallas Mavericks,96
51,25593,2011-04-03 00:00:00 UTC,14,Los Angeles Lakers,90,8,Denver Nuggets,95
93,127527,2020-12-26 00:00:00 UTC,5,Chicago Bulls,106,12,Indiana Pacers,125
29,25034,2011-02-25 00:00:00 UTC,14,Los Angeles Lakers,108,13,LA Clippers,95

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221 entries, 0 to 220
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   IDPartido                221 non-null    int64
 1   Fecha                    221 non-null    object
 2   IDEquipo local           221 non-null    int64
 3   Nombre equipo local      221 non-null    object
 4   Puntos equipo local      221 non-null    int64
 5   IDEquipo visitante       221 non-null    int64
 6   Nombre equipo visitante  221 non-null    object
 7   Puntos equipo visitante  221 non-null    int64
dtypes: int64(5), object(3)
memory usage: 13.9+ KB

In [10]:
connection.close()